/* Generic styles */
html, body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    background-color: #A91D3A;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h1{
    font-size: 5rem;
}

p{
    margin: 0;
    font-size: 1.2rem;
}

ul{
    padding: 0px;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img{
    display: inline-block;
}

.hidden{
    display: none;
}

i{
    font-size: 25px;
}

.active{
    text-decoration: underline !important;
}

button{
    background-color: #000000; 
    color: #ffffff;
    border: none;
    padding: 10px 50px;
    border-radius: 25px;
    margin: 20px 0px;
    font-size: 1.5rem;
}

button:hover{
    opacity: 0.8;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
}

nav .nav-list {
    gap: 20px;
    padding-right: 20px;
}

nav .nav-list li {
    display: inline-block;
}

.nav-logo{
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.contact-circle {
    border: 2px solid #ffffff;
    border-radius: 20px;
    font-weight: bold;
}

.button {
    text-decoration: none;
    background-color: #EEEEEE50;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

.button:hover{
    text-decoration: none;
    opacity: 0.8;
}

.portfolio{
    font-size: 1.3rem;
    padding: 20px 80px;
}

@media(max-width: 1000px) {
    nav {
        display: block;
    }
    nav ul {
        padding-left: 10px;
    }
    nav .nav-list{
        display: none;
    }
    nav .nav-list li {
        display: block;
    }
    nav .nav-list li:hover {
        background-color: #f3f3f350;
        border-radius: 10px;
    }
    .contact-circle{
        border: none;
    }
    .nav-logo{
        display: flex;
        justify-content: space-between;
    }
    .hidden{
        display: inline-block;
    }    
}

/* Home Main section */
.home-main img{
    width: 80%;
    height: auto;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 50px;
}

/* Footer */
footer{
    padding: 25px;
    color: #ffffff;
    background-color: #A91D3A;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

footer p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width: 1000px) {
    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    footer p{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/* Forms */
.contact-form button{
    margin-top: 10px;
}
